<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/formal_name" >
        <activity
            android:name=".TouchPaint"
            >
            
        </activity>
        <activity
            android:name=".Characters"
            >
            
        </activity>
        <activity
            android:name=".PhraseActivity"
            >
                      
        </activity>
           <activity
            android:name=".TraceActivity"
            >
                      
        </activity>
           <activity
            android:name=".LessonBuildActivity"
            >
                      
        </activity>
        <activity
            android:name=".LessonSelectActivity"
            >
                      
        </activity>
        
        
         <activity
            android:name=".Main"
            android:label="@string/formal_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>